// Containers

.show-container {
    display: flex;
    height: 134vh;
    margin-top: 57.5px;
    padding: 2vh;
    border-radius: 5px;
}

.show-info-container {
    background: white;
    padding: 2vh;
    border-radius: 5px;
    margin: 2vh 0vh;
}



.show-image-container {
    width: 28vw;
    height: 28vw;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(49, 49, 49, 0.2);
    margin: 2vh;
    border-radius: 11px;
}

.show-images-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.show-image-container img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150%;
    opacity: 1;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    z-index: 1;
}

// General

label {
    font-weight: 600;
}

.square {
    width: 100%;
    height: 7vh;
    border: none;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 5px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1vh;
}



// Colour form

.show-info-colours {
    margin-top: 3vh;
}

.colour-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    grid-gap: 1vh;
}

.colour-form-checks:checked ~ label {
    color: $my-gold;
    font-weight: 600;
    transition: ease-in .5s;
}

.colour-square {
    height: 5vh;
    padding: 1vh;
    border-radius: 5px;
}

// Size form

.show-info-sizes {
    margin-top: 3vh;
}

.size-square {
    border: 1px solid white;
    text-align: center;
}

.square.size-square {
    background: $my-gold;
    cursor: pointer;
    padding: 1vh;
    border-radius: 5px;
}

.form-check-input {
    padding: 0px;
    position: relative;
    margin: 0.5vh;
}

// Add to basket button

.btn.basket-button.basket {
    display: block;
    margin-top: 5vh;
}

.btn.basket-button {
    height: 80%;
    display: none;
    background-color: $my-gold;
    color: white;
    border-radius: 5px;
}

// Size when checked

.size-form-checks:checked ~ label {
    color: white;
    font-weight: 600;
    transition: ease-in .5s;
}

.size-form-checks:checked .square {
    background: $my-gold;
}

.size-form-checks.radio_buttons {
	// display: none;
}

// Mobile

@media (max-width: 1000px) {
    .show-container {
        flex-direction: column;
    }
    
    .show-images-container {
        display: flex;
        overflow-x: scroll;
        height: 50vh;
        scroll-snap-type: x mandatory;
        scroll-snap-points-x: repeat(100vw);
        scroll-snap-type: mandatory;
    }
    .show-image-container {
        width: 95vw;
        height: 40vh;
        border: none;
        box-shadow: none;
        margin: 0vh;
        border-radius: 0px;
    }

    .image-home {
        scroll-snap-align: center;
        width: 100vw;

    }
}

@media (max-width: 400px) {
    .show-container {
        height: 153vh;
    }

    .colour-square {
        height: 9vh;
        padding: 1.5vh;
    } 
    label {
        font-size: 12px;
    }
}