.show-container {
    display: flex;
    height: 100vh;
    margin-top: 57.5px;
    background: $my-grey;
}

.show-image-container {
    width: 28vw;
    height: 28vw;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(49, 49, 49, 0.2);
    margin: 2vh;
    border-radius: 11px;
}

.show-images-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.show-image-container img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150%;
    opacity: 1;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    z-index: 1;
}
