// Filter container

.filters-container {
    width: 33vh;
    background: $my-grey;
    padding: 3vh;
    line-height: 4.5vh;
    margin-top: -3vh;
}

aside {
    width: 50vw;
    height: 100vh; 
    position: fixed;
    transition: .3s; 
    left: -50vw;
    top: 0;
    transition-timing-function: cubic-bezier(0.9,0,1,1);
    background: white;
    padding: 2.5vh 1.5vh;
    line-height: 4.5vh;
    margin-top: 57.5px;
    z-index: 5;
    border-right: 1px solid $my-gold;
 }

 aside.close {
    left: 0vh;
    transition:.3s;
    transition-timing-function: cubic-bezier(0.9,0,1,1);
    opacity: 1;
    font-size: 2.3vh;
}

aside.close:hover {
    opacity: 1 !important;
}

//  Filter toggle icon

.filter-icon button:focus{
    outline: none
}

button {
    border: none;
    background: transparent;
}

#filter-icon { 
    cursor: pointer;
    height: 80%;
    color: white;
    border-radius: 5px;
    background: #cdac81;
    border: 1px solid #cdac81;
    padding: 5px 5px;
}

#filter-icon:hover {
    background: $my-grey;
    color: $my-gold;
    transition: ease-in .5s;
    border: none;
}



.filter-toggle {
    height: 100%;
}

// .filter-icon {
//     height: 80%;
// }

// Find and reset buttons

.find-buttons {
    display: flex;
    align-items: center;
    margin-top: 5vh;
}

.search-button {
    background: $my-gold;
    color: white;
    border-radius: 5px;
    padding: 0.8vh;
}

.search-button.find {
    width: 14vh;
    font-weight: 600;
    font-size: 23px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.reset-button {
    color: black;
    margin-left: 2vh;
}

// Filter Header

.filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-header p {
    text-transform: uppercase;
    letter-spacing: 4.5px;
    font-weight: 600;
    color: $my-gold;
}

// Filters

.form-group.find_brands {
    margin-top: 2vh;
}

.form-group.check_boxes.optional {
    line-height: 2;
}

.find-categories {
    margin-top: 2vh;
}

.form-check {
    display: flex;
    align-items: center;
}

.col-form-label {
    font-weight: 600;
    color: $my-gold;
}

// Laptop

// Ipad Pro

@media (min-width: 991px) {
    aside {
        margin-top: 70.33px;
    }
}

// Ipad

@media (max-width: 767px) {
    aside {
        height: 105vh;
        width: 90vw;
        left: -90vw;
    }
    
}

// Mobile

@media (max-width: 400px) {
    aside {
        border-right: none;
        opacity: 0.8;
    }
    aside.close {
        opacity: 0.8;
    }

    .filter-toggle {
        padding: 0px;
    }
}